body{
    margin: 0 auto;
    padding: 20px;
    background-color: #040301;
}
#tableResponse {
background-color: #FFAB00;
    color: #040301;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border:1px solid #040301;
    border-radius: 5px;
    



}

.table-responsive {
    overflow-x: auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
   font-weight: bold;
    border: 1px solid #040301;
}
thead {
    
    color: white;
    font-weight: bold;
}
.p-s {
    color: #28a745;
}

h1{
    color: #FFAB00;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
a{
    color: #FFAB00;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
a:hover{
    color: #040301;
    background-color: #FFAB00;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#nome-usuario {
    color: #FFAB00;
    font-weight: bold;
}